body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #0d1b2a;
  color: white;
}

#tabuleiro {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.celula {
  width: 50px;
  height: 50px;
  background-color: #1b263b;
  border: 1px solid #415a77;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acerto {
  background-color: red;
}

.erro {
  background-color: #415a77;
}
